body {
    background-size:cover;
    position: relative;
}
body::before {
    content: '';
    background-image: url(./assets/tomspider.jpg);
    position: absolute;
    background-repeat: no-repeat;
    inset: 0;
    opacity: 0.35;
}
h1 {
    isolation: isolate;
    color: rgb(184, 13, 13);
    text-decoration: underline;
    text-align: center;
    font-variant: small-caps;
    font-weight: 1000;
    font-size: xx-large;
}
#tom, #movie, #homecoming, #villain {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 30px;
    font-weight: 600;
    line-height:27px;
    text-indent: 20px;
    isolation: isolate;
}
#image {
    isolation: isolate;
}
img {
    border: 5px solid #a13e3e;
    margin-left: 400px;
}